<div id="About" class="about">
    <div class="row m-0">
        <div class="col-md-8">
            <div class="about-data">
                <h1 class="about-title myanimatedblock">About M &amp; D</h1>
                <p class="about-info myanimatedblock">
                    Since beginning my journey in this field, my dedication to the work
                    and motivation to grow has led me to exceptional projects and
                    experiences. I am an Application and Web Developer. Take a moment to
                    explore my portfolio below, which includes a combination of
                    collaborations, solo works, and side projects. Don’t hesitate to
                    reach out if you’d like to learn more.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <img class="img-fluid about-img" src="assets/images/about-img.jpg" alt="">
            </div>
        </div>
    </div>
</div>




<div class="box myanimatedblock">
    <!-- <div class="ribbon"><span>New</span></div> -->
    <p class="quote glass-shine-effect myanimatedblock" style="position: relative;">
        <i class="fas fa-quote-left"></i>
        "The things we know the best are the things we haven't been taught"
        <i class="fas fa-quote-right"></i>
    </p>
</div>
