


<nav class="navbar navbar-expand-lg navbar-bg">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <!-- <a class="nav-link text-dark" href="#">Home</a> -->
                    <a class="nav-link text-dark" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link text-dark" href="#About">About</a> -->
                    <a class="nav-link text-dark" routerLink="/app-about">About</a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link text-dark" aria-current="page" href="#Articles">Articles</a> -->
                    <a class="nav-link text-dark" aria-current="page" routerLink="/app-artical">Articles</a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link text-dark" href="#Contact">Contact</a> -->
                    <a class="nav-link text-dark" routerLink="/app-contact">Contact</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <a href="https://facebook.com/mudasir" class="nav-link mx-2 mt-2 animate__animated animate__zoomIn">
                    <i class="fa-brands fa-facebook-f" style="font-size: 15px; color: #000000;"></i>
                </a>
                <a href="https://github.com/mudasir" class="nav-link mx-2 mt-2 animate__animated animate__zoomIn">
                    <i class="fa-brands fa-github" style="font-size: 15px; color: #000000;"></i>
                </a>
                <a href="https://instagram.com/mudasir" class="nav-link mx-2 mt-2 animate__animated animate__zoomIn">
                    <i class="fa-brands fa-instagram" style="font-size: 15px; color: #000000;"></i>
                </a>
                <a href="https://wa.me/03068059557?text=Hi..." class="nav-link mx-2 mt-2 animate__animated animate__zoomIn">
                    <i class="fa-brands fa-whatsapp" style="font-size: 15px; color: #000000;"></i>
                </a>
            </div>
        </div>
    </div>
</nav>
