.navbar-bg {
    padding: 5px;
    background-color: #e0e0e0;
}

.navbar-link {
    font-size: 15px;
    font-weight: 300px;
}

.nav-item {
    font-size: 15px;
    font-weight: 300px;
}

.nav-item a,
.navbar-link a {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-weight: 499;
}

.nav-item:hover {
    .nav-item a {
        color: #ff0000;
    }
    background-color: #f0f0f0;
    border-radius: 50px;
    transition: 0.3s;
}

.nav-link:hover{
    .fa-brands{
        color: black;
        scale: 1.5;
        transition: 0.3s;
    }

}