<header class="header">
    <div class="">
        <!-- <p class="logo">M &amp; D</p> -->
        <a class="nav-link text-dark" routerLink="/">
            <p class="logo">M &amp; D</p>
        </a>
        <br>
        <p class="text-center web-title fa-fade">Not Your Average Web-Developer</p>
        <div class="rain">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>
    </div>
</header>


