<div class="footer myanimatedblock">
    <div class="row" style="font-size: 13px; text-align: left; padding: 0px; margin: 0px;">
        <div class="col-md-4 myanimatedblock">
            <div class="large-3 columns column-padding-second">
                <h4>
                    <i class="fa fa-phone" style="font-size: 25px; color: black;"></i>
                    Contact Information:
                </h4>
                <hr>
                <div class="p-2">
                    <ul class="list-unstyled"> <!-- Removed list-style directly -->
                        <li class="p-2 mb-2 d-flex align-items-start myanimatedblock">
                            <i class="fa fa-clock me-2" aria-hidden="true"></i>
                            <span>8:30am to 4:30pm (Saturday, Sunday off)</span>
                        </li>
                        <li class="p-2 mb-2 d-flex align-items-start myanimatedblock">
                            <i class="fa fa-phone me-2" aria-hidden="true"></i>
                            <span>+92 306 8059557</span>
                        </li>
                        <li class="p-2 mb-2 d-flex align-items-start myanimatedblock">
                            <i class="fa fa-envelope me-2" aria-hidden="true"></i>
                            <span>mudasirmaqbool7777gmail.com</span>
                        </li>
                        <li class="p-2 mb-2 d-flex align-items-start myanimatedblock">
                            <i class="fa fa-location-arrow me-2" aria-hidden="true"></i>
                            <span>Bahawalnagar, Punjab, Pkistan</span>
                        </li>
                        <li class="myanimatedblock">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti earum nihil ex dolore
                            neque quam! Fuga earum quasi modi quam perspiciatis laudantium delectus molestias aut
                            perferendis, necessitatibus voluptate? Dignissimos, itaque.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 myanimatedblock">
            <div class="large-3 columns column-padding-second">
                <h4 class="">
                    <i class="fa fa-location-dot" style="font-size: 25px; color: black;"></i>
                    Location:
                </h4>
                <hr>
                <div class="p-2">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d287944.75273786124!2d74.02738730625002!3d31.526294591665003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391909d5a21f9225%3A0xb6894c2f8a5678c!2sAllied%20Bank%20Limited!5e1!3m2!1sen!2s!4v1725360591693!5m2!1sen!2s"
                        class="w-100" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <div class="whatsapp-chat d-flex align-items-center justify-content-center">
                        <a href="https://wa.me/03068059557?text=Hi...">
                            <i class="fa-brands fa-whatsapp fa-2x fa-beat" style="color: #29f500; z-index: 100;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <p>©2024 by Mudasir. All rights reserved.</p>
    <div class="d-flex align-items-center justify-content-center">
        <a href="https://instagram.com/myselfmudasir" class="nav-link mx-2 mt-3">
            <i class="fa-brands fa-instagram" style="font-size: 15px; color: #000000;"></i>
        </a>
        <a href="https://github.com/myselfmudasir" class="nav-link mx-2 mt-3">
            <i class="fa-brands fa-github" style="font-size: 15px; color: #000000;"></i>
        </a>
        <a href="https://facebook.com/myselfmudasir" class="nav-link mx-2 mt-3">
            <i class="fa-brands fa-facebook-f" style="font-size: 15px; color: #000000;"></i>
        </a>
        <a href="https://wa.me/03068059557?text=Hi..." class="nav-link mx-2 mt-3">
            <i class="fa-brands fa-whatsapp" style="font-size: 15px; color: #000000;"></i>
        </a>
    </div>
</div>